/deep/ mat-input-container {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

mat-input-container.comp.active /deep/ .mat-input-underline,
mat-input-container.coll.active /deep/ .mat-input-underline {
  height: 2px;
}

mat-input-container.coll /deep/ .mat-input-underline {
  background-color: #3F54AF;
}

mat-input-container /deep/ .mat-form-field-label {
  color: rgba(0,0,0,.54) !important;
}

mat-input-container.comp.active /deep/ .mat-input-ripple {
  display: none !important;
}
